<div class="about">
    <h4>Languages and Frameworks:</h4>
    <ul>
        <li>Ruby 2.5.0</li>
        <li>Rails 5.2.0</li>
        <li>HTML</li>
        <li>Bootstrap / SASS</li>
    </ul>
    <hr />
    <h4>Databases:</h4>
    <ul>
        <li>SQLite3 in Test and Development</li>
        <li>PostgreSQL in Production</li>
    </ul>
    <hr />
    <h4>Development Tools and Gems include:</h4>
    <ul>
        <li>Devise for user authorization</li>
        <li>Figaro for safely storing sensitive information</li>
        <li>Pundit for user authentication</li>
        <li>Stripe for payment processing</li>
        <li>Red Carpet, markdown parser</li>
    </ul>
    <hr />
    <h4>Testing Tools and Gems include:</h4>
    <ul>
        <li>Rspec-Rails as a testing framework</li>
        <li>Shoulda for writing understandable, maintainable tests</li>
        <li>Faker for seeding test data</li>
        <li>Factory_Bot_Rails for creating test fixtures</li>
    </ul>
    <hr />
</div>
