
<div class= "testrun">
    <p> Hi, Welcome to Gallivant - a resource for sharing and collaborating Wikis about the many Wonders of the World! </p>

    <p> To take this App for a test run, use these credentials for logging in; </p>
    
    <br />

        <p>Email: janedoe@example.com</p>
        <p>Password: helloworld </p>

    <br />
    <p> ....and these for upgrading the account to Premium</p>

    <br />
        <p>Email: janedoe@example.com</p>
        <p>Card No.: 4242 4242 4242 4242</p>
        <p>Expiry: 04/21 </p>

    <br />
    <p>Happy test run!</p>
</div>