<% if current_user.admin? || current_user.premium? %>
    <div class = "form-group">
        <%= f.label :private, class: 'checkbox' do %>
            <%= f.check_box :private, {}, "true", "false" %> Private wiki
        <% end %>
    </div>
<% end %>